@using Application.Services.Campaigns
@using Domain.Entities
@page "/campaigns/{Id:int}"

@inject ICampaignService CampaignService

<PageTitle>Campaign Detail</PageTitle>

<h1>Campaign Details</h1>

<div>
    <a href="/campaigns" class="btn btn-primary mb-3">Back to campaigns list</a>
</div>

<div>
    @if (campaign != null)
{
    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">@campaign.Id</dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@campaign.Name</dd>

        <dt class="col-sm-3">type</dt>
        <dd class="col-sm-9">@campaign.type</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@campaign.Description</dd>

        <dt class="col-sm-3">Budget</dt>
        <dd class="col-sm-9">@campaign.Budget</dd>

        <dt class="col-sm-3">Start Date</dt>
        <dd class="col-sm-9">@campaign.StartDate</dd>

        <dt class="col-sm-3">End Date</dt>
        <dd class="col-sm-9">@campaign.EndDate</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">@campaign.Status</dd>
    </dl>
}
</div>

@code {
    [Parameter]
    public int Id { get; set; }    
    private Campaign campaign;
    protected override void OnInitialized()
    {
        campaign = CampaignService.GetCampaignById(Id);
    }
}