@page "/campaigns/create"

@using Domain.Entities
@using Application.DTO
@using Application.Services.Campaigns
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@rendermode InteractiveServer
@inject ICampaignService CampaignService
@inject NavigationManager Navigation

<PageTitle>Create Campaign</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Create campaign</h3>
                <a href="/campaigns" class="btn btn-outline-secondary btn-sm">Back to list</a>
            </div>

            <div class="card">
                <div class="card-body">
                    <EditForm Model="Model" OnValidSubmit="OnvalidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="row g-2 mb-2">
                            <div class="col-md-6">
                                <label for="Name">Name</label>
                                <InputText id="Name" @bind-Value="Model.Name" placeholder="Enter name" />
                                <ValidationMessage For="@(() => Model.Name)" />
                            </div>
                            <div class="col-md-6">
                                <label for="type">type</label>
                                <InputText id="type" @bind-Value="Model.type" placeholder="Enter type" />
                                <ValidationMessage For="@(() => Model.type)" />
                            </div>
                            <div class="col-md-6">
                                <label for="Description">Description</label>
                                <InputText id="Description" @bind-Value="Model.Description" placeholder="Enter Description" />
                                <ValidationMessage For="@(() => Model.Description)" />
                            </div>
                            <div class="col-md-6">
                                <label for="Budget">Budget</label>
                                <InputText id="Budget" @bind-Value="Model.Budget" placeholder="Enter Budget" />
                                <ValidationMessage For="@(() => Model.Budget)" />
                            </div>
                            <div class="col-md-6">
                                <label for="StartDate">Start Date</label>
                                <InputDate id="StartDate" @bind-Value="Model.StartDate" placeholder="Enter StartDate" />
                                <ValidationMessage For="@(() => Model.StartDate)" />
                            </div>
                            <div class="col-md-6">
                                <label for="EndDate">End Date</label>
                                <InputDate id="EndDate" @bind-Value="Model.EndDate" placeholder="Enter EndDate" />
                                <ValidationMessage For="@(() => Model.EndDate)" />
                            </div>
                            <div class="col-md-6">
                                <label for="Status">Status</label>
                                <InputText id="Status" @bind-Value="Model.Status" placeholder="Enter Status" />
                                <ValidationMessage For="@(() => Model.Status)" />
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Create</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private CampaignCreateDTO Model { get; set; } = new();
    
    private void OnvalidSubmit()
    {
        CampaignService.CreateCampaign(Model);
        Navigation.NavigateTo("/campaigns");
    }
}

