@using Application.DTO
@using Application.Services.Customers
@using System.ComponentModel.DataAnnotations
@using MudBlazor
@using MudBlazor.Services
@using Microsoft.AspNetCore.Components
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject ICustomerService CustomerService
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<MudDialog>
<DialogContent>
    <EditForm Model="Model" OnValidSubmit="onValidSubmit">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudTextField Label="Name" @bind-Value="Model.Name" For="@(() => Model.Name)" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField Label="Email" @bind-Value="Model.Email" For="@(() => Model.Email)" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField Label="PhoneNumber" @bind-Value="Model.Phone" For="@(() => Model.Phone)" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField Label="Address" @bind-Value="Model.Address" For="@(() => Model.Address)" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField Label="City" @bind-Value="Model.City" For="@(() => Model.City)" />
            </MudItem>
            
            <MudItem xs="12" class="d-flex justify-content-end">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Add Customers</MudButton>
            </MudItem>
        </MudGrid>

    </EditForm>
</DialogContent>
</MudDialog>

@* 
<PageTitle>Create Customer</PageTitle>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="onValidSubmit">Create Customer</MudButton>

 <MudGrid Spacing="3">
    
            <MudItem xs="4" sm="6">
                <MudTextField @bind-Value="Model.Name" Label="Customer Name" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="7" sm="6">
                <MudTextField @bind-Value="Model.Email" Label="Email" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="7" sm="6">
                <MudTextField @bind-Value="Model.PhoneNumber" Label="Phone Number" Required="true" Variant="Variant.Filled" />
            </MudItem>

            <MudItem xs="7" sm="6">
                <MudTextField T="string" Label="Address" @bind-Value="Model.Address" Required="true" Variant="Variant.Filled">
                </MudTextField>
            </MudItem>

            <MudItem xs="7" sm="6">
                <MudTextField T="string" Label="City" @bind-Value="Model.City" Required="true" Variant="Variant.Filled"> 
                </MudTextField>
            </MudItem>

            <MudItem xs="7" sm="6">
                <MudTextField T="string" Label="Type" @bind-Value="Model.Type" Required="true" Variant="Variant.Filled">
                </MudTextField>
            </MudItem>
           
             <MudItem xs="7" sm="6">
                <MudTextField T="string" Label="CreatedBy" @bind-Value="Model.CreatedBy" Required="true" Variant="Variant.Filled">
                </MudTextField>
             </MudItem>
                  </MudGrid>

       <button type="submit" class="btn btn-primary mt-3">Create Customer</button>
    <MudButton Href="/Customers" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Create Campaign</MudButton>
      
      <MudButton Href="/Customers" Variant="Variant.Filled" Color="Color.Error">Cancel</MudButton>
  *@
    



@code {
    [CascadingParameter] IMudDialogInstance DialogInstance { get; set; }

    private CustomerCreateDTO Model {get;set;} = new ();
   

    private void onValidSubmit()
    {
        CustomerService.CreateCustomer(Model);
        Snackbar.Add("Customer created successfully!", Severity.Success);
        DialogInstance.Close();
    }

    }