@using Domain.Entities
@using Application.Services.Customers

@page "/customers"

@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager

<PageTitle>Customers</PageTitle>

<h3>Customer List</h3>

<div>
    <a href="/customers/create" class="btn btn-primary mb-3">Add Customer</a>
</div>


            <MudTable Items="_customers" Hover="true" Dense="true">
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>Name</MudTh>
                    <MudTh>Email</MudTh>
                    <MudTh>Phone</MudTh>
                    <MudTh>Address</MudTh>
                    <MudTh>City</MudTh>
                    <MudTh>Actions</MudTh>
                </HeaderContent>

                <RowTemplate>
                    <MudTd>@context.Id</MudTd>
                    <MudTd>@context.Name</MudTd>
                    <MudTd>@context.Email</MudTd>
                    <MudTd>@context.Phone</MudTd>
                    <MudTd>@context.Address</MudTd>
                    <MudTd>@context.City</MudTd>
                    <MudTd>
                        @* <a href="/customers/@context.Id" class="btn btn-primary">Details</a> *@
                        @* <a href="/customers/edit/@context.Id" class="btn btn-secondary">Edit</a> *@
                        <MudButton 
                            Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" OnClick="@(() => EditCustomer(context.Id))">Edit
                        </MudButton>
                        <MudButton 
                            Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Visibility"OnClick="@(() => CustomerDetails(context.Id))">Details
                        </MudButton>
                    </MudTd>
                </RowTemplate>
            </MudTable>

@code {
    List<Customer> _customers = new List<Customer>();

        protected override void OnInitialized()
        {
            _customers = CustomerService.GetAllCustomers();
        }

        private void EditCustomer(int customerId)
        {
            NavigationManager.NavigateTo($"/customers/edit/{customerId}");
        }

        private void CustomerDetails(int customerId)
        {
            NavigationManager.NavigateTo($"/customers/{customerId}");
        }
}
