@page "/Customers"

@using Application.Services.Customers
@using Domain.Entities
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@attribute [Authorize]
@inject IDialogService DialogService
@inject ICustomerService CustomerService 

<PageTitle>Customer</PageTitle>

<h3>Welcome to Customers page</h3>

<div> 
@* <a href="/Customers/create" class="btn btn-secondary">Add Customer</a> *@
      @* <MudButton Href="/Customers/create" Variant="Variant.Filled" Color="Color.Primary">Add Customer</MudButton> *@
<MudSpacer />
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(()=>OpenDialog())">Add Customer</MudButton>

</div>
<MudContainer MaxWidth="MaxWidth.Large" Class="py-8">
    <MudPaper Elevation="0" Class="mb-6">
        <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Class="p-6">
            <MudTable Items="_customers" Hover="true" Bordered="true" Striped="true">
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>Name</MudTh>
                    <MudTh>Email</MudTh>
                    <MudTh>Address</MudTh>
                    <MudTh>Phone</MudTh>
                    <MudTh>City</MudTh>
                    <MudTh>Action</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd >@context.Id</MudTd>
                    <MudTd >@context.Name</MudTd>
                    <MudTd >@context.Email</MudTd>
                    <MudTd >@context.Address</MudTd>
                    <MudTd >@context.Phone</MudTd>
                    <MudTd >@context.City</MudTd>f
                    <MudTd >@context.CreatedAt</MudTd>
                   
                    
                   
                        <MudStack Row="true" Spacing="2" Justify="Justify.Center">
                            <MudButton Href="@string.Format("/Customers/Edit/{0}", context.Id)" 
                                       Variant="Variant.Filled" 
                                       Color="Color.Warning" 
                                       Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.Edit">
                                Edit
                            </MudButton>
                            <MudButton Href="@string.Format("/Customers/{0}", context.Id)" 
                                       Variant="Variant.Filled" 
                                       Color="Color.Primary" 
                                       Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.MoreHoriz">

                                View
                              
                           </MudButton>
                        </MudStack>
                </RowTemplate>

            </MudTable>
            
     </MudStack>
     </MudPaper>

</MudContainer>
  

@code {
        List<Customer> _customers = new List<Customer>();
        protected override void OnInitialized()
            {
                _customers = CustomerService.GetAllCustomers();
            }  
            protected IDialogReference dialogReference;
            private Color GetStatusColor(string status)
        {
            return status switch
            {
                "Active" => Color.Success,
                "Completed" => Color.Info,
                "Pending" => Color.Warning,
                "Cancelled" => Color.Error,
                _ => Color.Default
            };
        }

        private async Task OpenDialog()
        {
            var dialog = await DialogService.ShowAsync<CreateCustomerDialog>("Add Customer");
            var result = await dialog.Result;

            if (result != null && !result.Canceled)
            {
                _customers = CustomerService.GetAllCustomers();
            }
        
        }  
    
    
        }