@* @page "/customers/edit/{Id:int}"

@using Application.Services.Identities
@using Application.DTO
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer
@inject IIdentityService IdentityService
@inject NavigationManager Navigation

<PageTitle>Edit user</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Edit user</h3>
                @* <a href="/customers" class="btn btn-outline-secondary btn-sm">Back to list</a> *@
                @* <MudButton
                    Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="OnValidSubmit">Back to List
                </MudButton>
            </div>
            <MudCard>
                <MudCardContent>
                    <EditForm Model="Model" OnValidSubmit="OnValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="row g-2 mb-2">
                            <div class="col-md-6">
                                <MudTextField @bind-Value="Model.FullName" Label="FullName" Variant="Variant.Outlined"></MudTextField>
                                <ValidationMessage For="@(() => Model.FullName)" />
                            </div>
                            <div class="col-md-6">
                                <MudTextField @bind-Value="Model.Phone" Label="Phone" Variant="Variant.Outlined"></MudTextField>
                                <ValidationMessage For="@(() => Model.Phone)" />
                            </div>
                            <div class="col-md-6">
                                <MudTextField @bind-Value="Model.UserName" Label="UserName" Variant="Variant.Outlined"></MudTextField>
                                <ValidationMessage For="@(() => Model.UserName)" />
                            </div>
                            <MudButton Variant="Variant.Filled"Color="Color.Primary" StartIcon="@Icons.Material.Filled.Update" OnClick="OnValidSubmit">Update</MudButton>
                        </div>
                    </EditForm>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>

@code{
    [Parameter]

    public int Id { get; set; }

    private UserUpdateDTO Model { get; set; } = new();

    private bool loaded;

    protected override async Task OnParametersSetAsync()
    {
        var user = await IdentityService.GetUserById(Id);
        if (user != null)
        {
            Model = new UserUpdateDTO
            {
               FullName = user.FullName ?? "",
               Phone = user.Phone ?? "",
               UserName = user.UserName ?? "",
            };
        }
        loaded = true;
    }

    private void OnValidSubmit()
    {
        if (Model == null) return;
        IdentityService.UpdateUser(Id,Model);
        Navigation.NavigateTo("/users");
    }
} *@ 